*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url(background-image.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: #fff;
}

nav {
    width: 100%;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav .btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 20px;
}
.content {
    margin-top: 12%;
}

.content h1{
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span {
    color: #ff960b;
}
.content p{
    line-height: 22px;
    font-size: 14px;
}
.content .btn {
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
   align-items: center;
}

.coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;
}

.coin img{
    width: 40px;
    margin-right: 10px;
}
.coin h3{
    color: #fff;
    margin-bottom: 5px;
}
 /* Media Queries */
@media screen and (max-width: 1024px) {
    .content h1 {
        font-size: 60px;
    }
    .coin-list {
        right: 5%;
        bottom: 30px;
    }
    .coin {
        padding: 15px 20px;
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul {
        margin-top: 10px;
    }
    nav ul li {
        margin: 8px 10px;
    }
    .content h1 {
        font-size: 48px;
    }
    .coin-list {
        position: static;
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .coin {
        margin: 10px;
        padding: 15px;
        font-size: 12px;
    }
}


@media screen and (max-width: 480px) {
    .container {
        padding: 0 4%;
    }
    .logo {
        width: 40px;
    }
    .content {
        margin-top: 20%;
        text-align: center;
    }
    .content h1 {
        font-size: 32px;
    }
    .content p {
        font-size: 12px;
        line-height: 18px;
    }
    .content .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
    .coin img {
        width: 30px;
    }
}